.title-blue
    margin-bottom: 40px
    font-size: 32px
    color: $title-blue-color
    font-weight: 700

.apartment-search-filter
    margin-bottom: 112px
    display: flex
    flex-direction: column
    &__button
        margin: 0 auto
        height: 50px
        width: 31.83%
        border: 1px solid $title-blue-color
        border-radius: 5px
        background-color: $background-color
        display: flex
        justify-content: center
        align-items: center
        font-size: 18px
        font-weight: 700
        color: $title-blue-color
        transition: all 0.3s ease-in-out

.search-filter
    width: 100%
    margin-bottom: 32px
    display: flex
    flex-direction: row
    justify-content: space-between
    font-size: 14px

@media (any-hover: hover)
    .apartment-search-filter__button:hover
        background-color: $title-blue-color
        color: $background-color