*
    box-sizing: border-box
.body-page
    background-color: $background-color
    display: flex
    flex-direction: column
    justify-content: space-between
    font-family: "Inter"
    font-weight: 500