@font-face {
	font-family: "Inter";
	font-display: swap;
	src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;}
@font-face {
	font-family: "Inter";
	font-display: swap;
	src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;}
@font-face {
	font-family: "NotoSerif";
	font-display: swap;
	src: url("../fonts/NotoSerif-Regular.woff2") format("woff2"), url("../fonts/NotoSerif-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;}
@font-face {
	font-family: "NotoSerif";
	font-display: swap;
	src: url("../fonts/NotoSerif-BoldItalic.woff2") format("woff2"), url("../fonts/NotoSerif-BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: italic;}
