.footer
    border-top: 1.5px solid
    border-image: linear-gradient(to right, rgba(31, 218, 227, .6), rgba(60, 75, 148, .6), rgba(177, 124, 231, .6))
    border-image-slice: 1
    &__container
        min-height: 74px
        padding: 0 128px
        display: flex
        align-items: center