.main-section
    &__container
        padding: 14px 128px 0 128px
        display: flex
        flex-direction: column

@media (max-width: 1024px)
    .main-section
        &__container
            padding: 0 87px